:root {
    /* Color Board HEX */
    --jet: #323031ff;
    --portland-orange: #f46036ff;
    --jonquil: #f0c808ff;
    --persian-green: #1b998bff;
    --iceberg: #7aa9d5;
}


#wrapper {
    width: 95%;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Carter One', cursive;
    font-size: 52px;
    padding: 20px;
}

h2 {
    font-family: 'Timmana', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'Timmana', sans-serif;
    font-size: 24px;
}

h4{
    font-family: 'Comfortaa', cursive;
    line-height: 1.4;
    width: 70%;
}

li {
    font-family: 'Comfortaa', cursive;
    margin: 8px;
}

.home-button{
    position: fixed;
    bottom: 50px;
    left: 40px;
    background-color: var(--persian-green);
    padding: 15px;
    font-size: 20px;
    border-radius: 45px;
    color: white;
}
.home-button:hover{
    background-color: var(--portland-orange);
    padding: 20px;
    font-size: 25px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description p{
    font-family: 'Habibi', sans-serif;
    margin: 20px;
    width: 300px;
    font-size: 17px;
    line-height: 1.4;
}

.technologies {
    margin: 20px;
}

.screenshots {
    margin: 20px;
}



/* Report Section */

section{
    margin: 20px;
}
section p{
    font-family: 'Habibi', sans-serif;
    line-height: 1.25;
}
section p a{
    color: var(--persian-green);
}
section p a:hover{
    color: var(--portland-orange);
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.website-button{
    background-color: var(--persian-green);
    padding: 9px;
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    border-radius: 10px;
}

.website-button:hover{
    background-color: var(--portland-orange);
}
/* Footer */

footer{
    display: flex;
    flex-direction: column;
    background-image: url(/img/layered-peakspng.png);
    background-size: 100% 100%;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-container div{
    margin: 20px;
}

.some{
    display: flex;
    flex-direction: row;
}

.some a{
    margin: 6px;
    font-size: 30px;
}
  
  
.footer-nav{
    display: flex;
    flex-direction: column;
    font-family: 'Habibi', serif;
    text-align: center;
}
.footer-nav a{
    text-decoration: none;
    color: var(--jet);
    margin: 2px;
    font-size: 17px;
}

.footer-nav a:hover{
    text-decoration: underline;
    color: var(--portland-orange);
}

.copyright{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    line-height: 1.25;
    color: white;
}


/* Icons */
.fa-github{color: #6e5494;}
.fa-linkedin{color: #0e76a8;}
.fa-reddit{color: #FF5700;}
.fa-facebook{color: #3b5998;}

.fa-brands:hover{color: var(--persian-green);}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

    #wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .footer-container{
        display: flex;
        flex-direction: row;
    }

}

/* Large devices (Laptops, 992px and up) */

@media screen and (min-width: 992px) {

    #wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .website-button{
        margin-left: 20px;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .description{
        margin-top: -150px;
        align-items: flex-start;
        padding-left: 80px;
    }
    .screenshots{
        padding-right: 80px;
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    section p{
        width: 800px;
        font-size: 17px;
    }
}