:root {
    /* Color Board HEX */
    --jet: #323031ff;
    --portland-orange: #f46036ff;
    --jonquil: #f0c808ff;
    --persian-green: #1b998bff;
    --iceberg: #7aa9d5;
}

/* Moving Background */

/* Mobile devices */
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#wrapper {
    width: 95%;
    margin: 0 auto;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Intro */
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--jet);
    text-align: center;
    padding: 50px;
}

.animate__backInDown {
    padding-bottom: 40px;
}

h1 {
    font-family: 'Carter One', cursive;
    font-size: 52px;
}

h2 {
    font-family: 'Timmana', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Timmana', sans-serif;
    font-size: 24px;
}

.profile-pic {
    width: 300px;
    border: solid 5px var(--jonquil);
    border-radius: 180px;
}


/* Navigaton Bar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin {
    position: fixed;
    bottom: 3%;
    box-sizing: border-box;
    background: var(--iceberg);
    border-radius: 45px;
    box-shadow: 0 1rem 5rem -2rem rgba(black, 0.5);
    transition: transform 100ms linear;
    padding: 3px;
}

.pin a {
    padding-inline: 5px;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.25;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    color: white;
    position: relative;
    transform: translatey(-50%);
    text-shadow:
        -1px -1px 0 var(--jet),
        1px -1px 0 var(--jet),
        -1px 1px 0 var(--jet),
        1px 1px 0 var(--jet);

}

.pin a:hover {
    color: var(--jet);
}

.SendEmail {
    cursor: pointer;
}

/* About me */
.small-container {
    width: 350px;
    min-width: 300;
    padding: 30px;
    color: var(--jet);
    font-family: 'Comfortaa', cursive;
    line-height: 1.35;
}
.small-container-right {
    margin-right: 20px;
}
.small-container li{
    margin-top: 5px;
}

.text-right {
    text-align: right;
}

.my-16{
    margin-top: 4rem; /* 64px */
    margin-bottom: 4rem; /* 64px */
}



/* Technologies scroller */
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}


.scrolling-wrapper,
.scrolling-wrapper-flexbox {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

/* //Scrollbar should be hidden but when on desktop using mouse there is no way to scoll right
.scrolling-wrapper,
.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}
*/


/* Technologies cards */
.card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: solid 1px var(--persian-green);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 15px;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    color: var(--jet);

}

.img-container {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.card img {
    height: 100px;
}

.card h3 {
    font-size: 18px;
}

.card p {
    margin: 10px;
    line-height: 1.5;
}

.technologies-heading {
    margin-top: 50px;
    margin-left: 50px;
    color: var(--jet);
}

/* Projects cards */

.work-heading {
    margin-top: 50px;
    margin-left: 50px;
    color: var(--jet);
}

.img-frame {
    width: 320px;
    margin: 30px;
}

.split-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


/* projects hover animations */
.rotate-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.rotate-grow:hover,
.rotate-grow:focus,
.rotate-grow:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}


.projects-heading {
    font-family: 'Timmana', sans-serif;
    text-align: center;
    width: 300px;
}

.rotate-grow a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--jet);
    text-decoration: none;
}

.rotate-grow a h3 {
    margin-top: -15px;
    line-height: 1.15;
}

.rotate-grow :hover {
    color: var(--portland-orange);
}

/* Free time */

.free-time {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: var(--jet);
}

.free-time li span {
    font-family: 'Comfortaa', cursive;
    margin: 5px;
    font-size: 18px;
    text-decoration: underline;
    color: black;
}


.free-time li p {
    font-family: 'Comfortaa', cursive;
    margin: 10px;
    font-size: 14px;
    line-height: 1.25;
    text-decoration: none;
}


.free-time-list {
    width: 300px;
}

.soft-skills-list {
    width: 300px;
}

.ss-mobile {
    padding-top: 40px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 40px;
    background-image: url(../img/layered-peakspng.png);
    background-size: 100% 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-container div {
    margin: 20px;
}

.some {
    display: flex;
    flex-direction: row;
}

.some a {
    margin: 6px;
    font-size: 30px;
}


.footer-nav {
    display: flex;
    flex-direction: column;
    font-family: 'Habibi', serif;
    text-align: center;
}

.footer-nav a {
    text-decoration: none;
    color: var(--jet);
    margin: 2px;
    font-size: 17px;
}

.footer-nav a:hover {
    text-decoration: underline;
    color: var(--portland-orange);
}

.copyright {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    line-height: 1.25;
    color: black;
}


/* Icons */
.fa-github {
    color: #6e5494;
}

.fa-linkedin {
    color: #0e76a8;
}

.fa-reddit {
    color: #FF5700;
}

.fa-facebook {
    color: #3b5998;
}

.fa-brands:hover {
    color: var(--persian-green);
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

    #wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .img-frame {
        width: 400px;
        margin: 50px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
    }

    .split-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pin a {
        font-size: 18px;
    }


}


/* Large devices (Laptops, 992px and up) */

@media screen and (min-width: 992px) {

    #wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .profile-pic {
        width: 300px;
        margin-top: 100px;
    }

    .plant-gif {
        width: 300px;
    }


    .img-frame {
        width: 400px;
        margin: 50px;
    }

    .split-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .rotate-grow a h3 {
        margin-top: -20px;
    }

    .free-time {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .free-time-list {
        width: 400px;
    }

    .soft-skills-list {
        width: 400px;
    }

    .ss-mobile {
        padding-top: 0px;
    }

    .pin a {
        font-size: 20px;
    }
}

/* Extra large devices (desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .small-container {
        padding-right: 150px;
    }
    .small-container-right {
        padding-left: 150px;
    }

}